.rocket {
    background: url(/api.png) no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
    cursor: -webkit-grab;
    will-change: transform;
    margin-bottom: 20px;
    user-select: none;
  }
  
  .rocket:active {
    cursor: -webkit-grabbing;
  }
  
.javascript {
    background: url(/pi.png) no-repeat;
    color: #fff;
    background-size: contain;
    width: 100px;
    height: 100px;
    cursor: -webkit-grab;
    will-change: transform;
    margin-bottom: 20px;
    user-select: none;
  }
  
  .javascript:active {
    cursor: -webkit-grabbing;
  }
.db {
    background: url(/db.png) no-repeat;
    color: #fff;
    background-size: contain;
    width: 100px;
    height: 100px;
    cursor: -webkit-grab;
    will-change: transform;
    margin-bottom: 20px;
    user-select: none;
  }
  
  .db:active {
    cursor: -webkit-grabbing;
  }
  