.modalOverlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
   
  }
  
  .modalContent {
    background: linear-gradient(-60deg, rgba(25, 26, 29, 0.1), rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    text-align: center;
  }
  
  .circularBar {
    width: 100px;
    height: 100px;
  }
  
  .circleBg {
    fill: none;
    stroke: #e6e6e6;
    stroke-width: 3.8;
  }
  
  .circle {
    fill: none;
    stroke: #0099ff;
    stroke-width: 2.8;
    stroke-linecap: round;
  }
  
  .percentage {
    font-size: 0.5em;
    text-anchor: middle;
    fill: #fff;
  }
  

  @media (max-width: 960px) {
    .modalOverlay {
      display: block;
      top: 16rem;
      z-index: 1000;
      .modalContent {
        padding: 1rem;

        .circularBar {
          width: 50px;
          height: 50px;
        }
      }
    }
  }