.container {
    margin-top: 4rem;
  }


  .deck {
    position: absolute;
    width: 300px;
    height: 200px;
    will-change: transform;
    display: flex;
    align-items: center;
    justify-content: center;
    touch-action: none;
    z-index: 1;

  }

  .deck > div {
    background-color: white;
    background-size: auto 85%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 48vh;
    max-width: 100px;
    height: 87vh;
    max-height: 200px;
    will-change: transform;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
    filter: brightness(0.8);
  }

  @media (max-width: 1024px) {
    .deck > div {
      margin-right: 0;
    }
  }
