.custom-cursor {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: .8rem;
  height: .8rem;
  background-color: #0099ff;
  border-radius: 50%;
  pointer-events: none; 
  box-shadow: 0 0 30px 1rem 3px rgba(0, 153, 255, 0.9); 
  z-index: 9999; 
  transition: width 0.5s ease-in-out, height 0.2s ease-in-out, 
              border-radius 0.2s ease-in-out, background-color 0.2s ease-in-out;

}
            
            