.border-effect {
    width: 200px;
    height: 200px;
    border: 2px solid gray;
    transition: border-color 0.3s;
  }

  .glossy-nav {
    background: rgba(25, 25, 29, 0.6); /* Un color de fondo semitransparente */
    backdrop-filter: blur(10px); /* Ajusta la cantidad de blur según prefieras */
    -webkit-backdrop-filter: blur(10px); /* Compatibilidad con Safari */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para dar un poco de profundidad */
    border-radius: 8px; /* Opcional: para esquinas redondeadas */
  }


  .border-effect:hover {
    border-color: transparent;
  }

  .border-effect:hover::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: 0;
    height: 100%;
    border-top: 2px solid white;
    transition: width 0.3s;
  }

  .border-effect:hover::after {
    content: '';
    position: absolute;
    bottom: -2px;
    right: -2px;
    width: 0;
    height: 100%;
    border-bottom: 2px solid white;
    transition: width 0.3s;
  }

  .border-effect:hover::before,
  .border-effect:hover::after {
    transition-delay: 0.15s;
  }

  .border-effect:hover::before {
    left: -2px;
    right: initial;
  }

  .border-effect:hover::after {
    right: -2px;
    left: initial;
  }

  .logo-wrapper {
    display: flex;
    align-items: center;
  }

  .logo-wrapper h1 {
    margin-left: 5px;
  }

  @media (max-width: 1060px) {
    .logo-wrapper {
      display: none;
    }
  }
